[gcode_macro _USER_VARIABLES]
variable_startprint_actions: "bed_soak", "extruder_preheating", "chamber_soak", "clean", "tilt_calib", "z_offset", "custom1", "bedmesh", "extruder_heating", "purge", "clean", "primeline"
variable_exhaust_enabled: True
variable_exhaust_name: "exhaust"
gcode: # do not remove this line

# Also include directly the filter control macros from here
[include ../../../macros/hardware_functions/exhaust.cfg]

[fan_generic exhaust]
pin: EXHAUST_FAN
max_power: 1.0
kick_start_time: 0.250
off_below: 0.30
